@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cookie&family=Lobster&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: rgb(176, 143, 207);
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 48px ;
    position: sticky;
    background-color: rgb(243, 245, 245);
    top: 0;
    backdrop-filter: blur(12px);
    border-bottom: 2px solid rgba (108, 43, 255, 0.07 );
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: blueviolet;
}
.nav-links a:hover{
    color: darkorchid;
}
.nav-actions{
    display: flex;
    align-items: center;
    gap: 14px;  
}
.nav-cart{
    color: slategrey;
    display: flex;
    align-items: center;
    gap: 4px;
}
.btn-entrar{
    background-color: darkviolet;
    color: aliceblue;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    gap: 6px;
    transform: background .2s, transformm .15s;
}
.btn-entrar:hover{
    background: purple;
    transform: translate(-1px);
}
.btn-entrar svg{
    width: 14px; height: 14px;
}
.hero{
    padding: 60px 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero-topo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
}
.hero-text{
    flex: 1;
    min-width: 400px;
}
.hero-title{
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    font-size: 104px;
    line-height: .85;
    letter-spacing: -1px;
    color: #6c2bff;
}
.hero-title .alegre{
    color: #e57ae0;
}
.hero-menu{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
}
.hero-menu-item{
    display: flex;
    align-items: center;
    width: 10px;
    font-weight: bold;
    background-color: #f5f3ff;
    border-radius: 40px;
    padding: 7px 16px;
    width: fit-content;
    cursor: pointer;
    transition: background .2s;
}
.hero-menu-item:hover{
    background-color: #ede8ff;
}
.hero-menu-item svg{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}